<h1>{{titulo}}</h1>
<form class="form-inline" *ngIf="user">
    <div class="form-group mx-sm-3">
        <label for="inputPass" class="sr-only">Nombre</label>
        <input [(ngModel)]="user.nombre" name="Nombre">
    </div>
    <div class="form-group mx-sm-3">
        <label for="inputPass" class="sr-only">Apellido Paterno</label>
        <input [(ngModel)]="user.apellidoPaterno" name="Apellido Paterno" placeholder="Apellido Paterno">
    </div>
    <div class="form-group mx-sm-3">
        <label for="inputPass" class="sr-only">Apellido Materno</label>
        <input [(ngModel)]="user.apellidoMaterno" name="Apellido Materno">
    </div>
    <div class="form-group mx-sm-3">
        <label for="inputPass" class="sr-only">Correo</label>
        <input [(ngModel)]="user.correo" name="Correo">
    </div>
    <div class="form-group mx-sm-3">
        <label for="inputPass" class="sr-only">Numero de celular</label>
        <input [(ngModel)]="user.numeroCel" name="Numero de celular">
    </div>


    <!--<div class="form-group mx-sm-3">
        <label for="inputPass" class="sr-only">Roles</label>
        <div class="col-md-6 col-lg-4 mb-4 mb-md-0" *ngFor="let rol of user.roles">
            <p class="lead mb-0">{{rol.nombre}}</p>



        </div>
    </div>-->

    <!--Trying another switch    
    <div class="form-check form-switch" *ngFor="let rol of user.roles">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">{{rol.nombre}} {{rol.id}}</label>
    </div>

    finish switch-->
    <h4>Roles</h4>
    <div class="form-check form-switch" *ngFor="let rol of user.roles">
        <ng-container *ngIf="rol.nombre == 'ROLE_USER' ; then SoloUser ; else PrintRoles">
        </ng-container>

        <ng-template #SoloUser>
            <h6>¿Deseas darle control de superusuario a este user?</h6>

            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [(ngModel)]="user.roles">
            <label class="form-check-label" for="flexSwitchCheckChecked">Administrador</label>
            <h6></h6>
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckChecked">Proveedor</label>


        </ng-template>

        <ng-template #PrintRoles>
            <input class="form-check-input" type="checkbox" [(ngModel)]="rol.nombre" id="flexSwitchCheck" checked>
            <label class="form-check-label" for="flexSwitchCheckChecked">{{rol.nombre}}</label>
        </ng-template>

    </div>



    <!--Mix

    <div class="form-row align-items-center mx-sm-3">
        <div class="col-auto my-1">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Rol</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Escoge</option>
                <option value="1">Usuario</option>
                <option value="2">Administrador</option>
                <option value="3">Proveedor</option>
            </select>
        </div>
    </div>-->

</form>

<div>
    <button class="bg-success d-flex align-items-center justify-content-center shadow-1-strong" type="button"
        style="width: 80px; height: 35px; border-radius: 5px;">
        <p class="text-white mb-0 small" (click)="update()"> Guardar</p>
    </button>
</div>