
<div id="contenido">
    <br>
    <h1 style="color: #0d6efd">Ciencias Top: Reporte de {{mes}} {{anio}}</h1>
    <br>

    <h3>Usuarios activos por carrera:</h3>
    <span id="uno">
        <table>
            <tr>
            <th>Carrera</th>
            <th>Numero de usuario activos</th>
            </tr>
            <tr *ngFor="let tupla of activos">
            <td>{{tupla[0]}}</td>
            <td>{{tupla[1]}}</td>
            </tr>
        </table>
    </span>
    <hr>
    <h3>5 productos más rentados durante {{mes}}:</h3>
    <span id="dos">
        <table>
            <tr>
            <th>Producto</th>
            <th>Código</th>
            <th>Detalles</th>
            </tr>
            <tr *ngFor="let p of cincoMasRentados">
            <td>{{p.nombre}}</td>
            <td>{{p.codigo}}</td>
            <th><button class="btn btn-outline-success" [routerLink]="['/productos/buscar/codigo/', p.codigo]">Ver Detalles</button></th>
            </tr>
        </table>
    </span>
    <hr>

    <h3>Numero de cuentas inactivas: <span id="tres">{{inactivos}}</span></h3> <span id="alt-tres"></span>
    <hr>

    <h3>Productos más baratos:</h3>
    <span id="cuatro">
        <table>
            <tr>
            <th>Producto</th>
            <th>Código</th>
            <th>Costo</th>
            <th>Detalles</th>
            </tr>
            <tr *ngFor="let p of cincoMasBaratos">
            <td>{{p.nombre}}</td>
            <td>{{p.codigo}}</td>
            <td>{{p.costo}} PP</td>
            <th><button class="btn btn-outline-success" [routerLink]="['/productos/buscar/codigo/', p.codigo]">Ver Detalles</button></th>
            </tr>
        </table>
    </span>
    <hr>

    <h3>10 usuarios que más han devuelto un producto rentado tarde:</h3>
    <span id="cinco">
        <table>
            <tr>
            <th>Nombre</th>
            <th>Identificador</th>
            <th>Perfil</th>
            </tr>
            <tr *ngFor="let usu of diezMasTarde">
            <td>{{usu.nombre}}</td>
            <td>{{usu.id}}</td>
            <td><button class="btn btn-outline-success" [routerLink]="['/usuarios/buscar', usu.id_usuario]">Ver Perfil</button></td>
            </tr>
        </table>
    </span>
    <hr>

    <h3>5 usuarios que más han rentado productos esta semana:</h3>
    <span id="seis">
        <table>
            <tr>
            <th>Nombre</th>
            <th>Identificador</th>
            <th>Perfil</th>
            </tr>
            <tr *ngFor="let usu of cincoMasRentas">
            <td>{{usu.nombre}}</td>
            <td>{{usu.id}}</td>
            <td><button class="btn btn-outline-success" [routerLink]="['/usuarios/buscar', usu.id_usuario]">Ver Perfil</button></td>
            </tr>
        </table>
    </span>
</div>
<div id="boton">
    <button (click)="backClick()" class="btn btn-outline-success">Cerrar Reporte</button>
</div>