<section style="background-color: #eee">
  <div class="container py-5">

    <form class="d-flex" role="search" (submit)="onSubmit()">
      <input class="form-control me-2" type="search" placeholder="Buscar usuarios por nombre o identificador" 
             aria-label="Search" [(ngModel)]="searchInput" name="searchInput">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>

    <hr>

    <h2 id="res-bus-usuario" style="display: none;">Resultados de la búsqueda "{{placeholder}}" 
      <button class="btn btn-outline-success" (click)="clear()">Limpiar</button></h2>

    <!--<div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/productos/form']">Añadir Producto</button>
    </div>-->
    <div class="row">
      <div
        class="col-md-6 col-lg-4 mb-4 mb-md-0"
        *ngFor="let u of usuarios">
        <div class="card-666">
          <div class="d-flex justify-content-between">
            <p class="lead mb-0">{{u.nombre}} {{u.apellidoPaterno}} {{u.apellidoMaterno}}</p>
              <!--<div class="bg-primary d-flex align-items-center justify-content-center shadow-1-strong" style="width: 60px; height: 35px">
                <p class="text-white mb-0 small" [routerLink]="['/productos/form', producto.id]">Editar</p>
              </div>-->
          </div>
          
          <img
            src={{u.imagen}}
            class="card-img-top"
            alt="Laptop"
          />
          <div class="card-body codigo">
            <div class="d-flex">
              <p class="small" style="margin-bottom: 0px;">
                Identificador: <span class="small text-danger">{{u.id}}</span>
              </p>
            </div>

            <div class="d-flex">
              <p class="mb-0 biggy-text">Puma Puntos: <span class="text-dark mb-0">{{u.pumapuntos}} PP</span></p>
            </div>

            <div class="d-flex mb-2">
              <p class="text-muted mb-0 correo">
                Email: <span class="fw-bold">{{u.correo}}</span>
              </p>
              <div class="ms-auto text-warning">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            </div>
            <div class="botones">
              <div class="bg-danger d-flex align-items-center justify-content-center shadow-1-strong"
                  style="width: 80px; height: 35px; border-radius: 5px;">
                  <p class="text-white mb-0 small">Editar</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
