<div class="card  text-center ">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">

        <form>
            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="producto.nombre" name="nombre">
                </div>
            </div> 

            <div class="w-100 p-3" ></div>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Código</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="producto.codigo" name="codigo">
                </div>
            </div>

            <div class="w-100 p-3" ></div>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Stock</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" [(ngModel)]="producto.disponibles" name="disponibles">
                </div>
            </div>

            <div class="w-100 p-3" ></div>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Precio</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" [(ngModel)]="producto.costo" name="costo">
                </div>
            </div>

            <div class="w-100 p-3" ></div>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Descripción</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="producto.descripcion" name="descripcion">
                </div>
            </div>

            <div class="w-100 p-3" ></div>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Link de Imagen</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="producto.rutaImagen" name="rutaImagen">
                </div>
            </div>
            
            <div class="w-100 p-3" ></div>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Dias a Prestar</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="producto.diasAPrestar" name="diasAPrestar">
                </div>
            </div>
            
            <div class="w-100 p-3" ></div>

            <div class="form-group row">
                <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!producto.id_producto else elseBlock">Agregar Producto</button>                   
                <ng-template #elseBlock>
                    <p class="text-white mb-0 small" (click)="update()"> Actualizar</p>                  
                </ng-template>



            </div>
            
        </form>

    </div>

</div>