<section style="background-color: #eee">
  <div class="container py-5">
    <div class="col-md-12 text-center">
      <button class="btn btn-rounded btn-danger btn-lg" type="button" [routerLink]="['/productos/form']" *ngIf="authService.hasRole('ROLE_ADMIN')">Añadir Producto</button>
    </div>
    <div class="row">
      <div
        class="col-md-6 col-lg-4 mb-4 mb-md-0"
        *ngFor="let producto of productos">
        <div class="w-100 p-3" style="background-color: #eee;"></div>

        <div class="card">
          <div class="d-flex justify-content-between p-3">
            <p class="lead mb-0">{{ producto.nombre }}</p>
             
          </div>
          <img
            src="https://static.vecteezy.com/system/resources/previews/005/337/799/original/icon-image-not-found-free-vector.jpg"
            class="card-img-top visible-xs img-responsiv"
            
          />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="small text-muted">Codigo: <span class="small text-danger">{{ producto.codigo}}</span></p>
            </div>

            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0">Precio: <span class="text-dark mb-0">{{ producto.costo }} PP</span></h5>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0">
                Stock: <span class="fw-bold">{{ producto.disponibles}}</span>
              </p>
              <div class="ms-auto text-warning">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            </div>

            <div class="botones">
              <div class="bg-danger boton d-flex align-items-center justify-content-center shadow-1-strong"
                style="width: 60px; height: 35px" *ngIf="authService.hasRole('ROLE_ADMIN')">
                <p class="text-white mb-0 small" (click)="delete(producto)">Eliminar</p>
              </div>
              <div class="bg-primary boton d-flex align-items-center justify-content-center shadow-1-strong" style="width: 60px; height: 35px" *ngIf="authService.hasRole('ROLE_ADMIN')">
                <p class="text-white mb-0 small" [routerLink]="['/productos/form', producto.id]">Editar</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>