
<div *ngIf="p">
    
        <div class="row d-flex justify-content-center">

            <div class="col-md-7">

                <div class="card p-3 py-4">

                    <div class="text-center">
                        <img src={{p.rutaImagen}}/>
                    </div>

                    <div class="text-center mt-3">
                        <h1>{{p.nombre}} </h1>
                    </div>

                    <div class="text-center mt-2">
                        <div class="px-4 mt-1">
                            <p class="mb-0 biggy-text">Código: <span class="fw-bold">{{p.codigo}} </span>
                            </p>
                        </div>

                        <div class="px-4 mt-1">
                            <p class="mb-0 biggy-text">Stock: <span class="fw-bold">{{p.disponibles}}</span>
                            </p>
                        </div>

                        <div class="px-4 mt-1">
                            <p class="mb-0 biggy-text">Costo: <span class="fw-bold">{{p.costo}}PP</span></p>
                        </div>

                        <div class="px-4 mb-2">
                            <p class="mb-0 biggy-text">Descripción: <span class="fw-bold">{{p.descripcion}}</span>
                            </p>
                        </div>
                        <!--
                        <div class="px-4 mb-2">
                            <p class="mb-0 biggy-text">Imagen: <span class="fw-bold">{{p.rutaImagen}}</span>
                            </p>
                        </div>
                        -->


                        <div class="buttons">
                            <button class="bg-success d-flex align-items-center justify-content-center shadow-1-strong boton" 
                                type="button" style="width: 80px; height: 35px; border-radius: 5px; border: none;" 
                                (click)="rentar(producto)">
                                <p class="text-white mb-0 small">Rentar</p>
                            </button>


                            <button class="bg-success d-flex align-items-center justify-content-center shadow-1-strong boton"
                                type="button" style="width: 80px; height: 35px; border-radius: 5px; border: none;" *ngIf="authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_PROV')"
                                [routerLink]="['editar', p.codigo]">
                                <p class="text-white mb-0 small">Editar</p>
                            </button>
                            <button class="btn btn-danger boton" type="button"
                                style="width: 80px; height: 35px; border-radius: 5px;" *ngIf="authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_PROV')"
                                (click)="delete(p)">
                                <p class="text-white mb-0 small"> Eliminar</p>
                            </button>
                        </div>

                    </div>

                </div>

            </div>

        </div>