<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  <table border="2">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Numero Cel</th>
        <th>Correo</th>
        <th>Carrera</th>
        <th>Rol</th>
        <th>Contrasena</th>
        <th>Puma Puntos</th>
        <th>Actividad</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let tempUsuarioList of usuariosList">
          <td>{{ tempUsuarioList.nombre }}</td>
          <td>{{ tempUsuarioList.apellidoPaterno }}</td>
          <td>{{ tempUsuarioList.apellidoMaterno }}</td>
          <td>{{ tempUsuarioList.numeroCel }}</td>
          <td>{{ tempUsuarioList.correo }}</td>
          <td>{{ tempUsuarioList.carrera }}</td>
          <td>{{ tempUsuarioList.rol }}</td>
          <td>{{ tempUsuarioList.contrasena }}</td>
          <td>{{ tempUsuarioList.pumaPuntos }}</td>
          <td>{{ tempUsuarioList.esActivo }}</td>
        </tr>
    </tbody>
  </table>
</body>

</html>
